@using Quilt4.Web.Models
@model Quilt4.Web.Models.UserViewModel
@{
    ViewBag.Title = "Details";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Initiative", "Index", "Initiative")</li>
    <li>@Html.ActionLink(Model.InitiativeName ?? Constants.DefaultInitiativeName, "Details", "Initiative", new { id = Model.InitiativeUniqueIdentifier }, null)</li>
    <li class="active">Users</li>
    <li class="active">@Model.Users.First().UserName</li>
</ol>

<h2>Details</h2>

<table>
    <h4>Application</h4>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th>Application</th>
    </tr>
    @foreach (var applicationName in @Model.ApplicationNames)
    {
        if (applicationName == null)
        {
            <tr>
                <td>N/A</td>
            </tr>
        }
        else
        {
            <tr>
                <td>@applicationName</td>
            </tr>
        }

    }

</table>
<table>
    <h4>Session</h4>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Start</th>
        <th style="padding: 0 5px;">Environment</th>
        <th style="padding: 0 5px;">User</th>
        <th style="padding: 0 5px;">Machine</th>
        <th style="padding: 0 5px;">Ip</th>
    </tr>

    @foreach (var session in @Model.Sessions)
    {
        <tr>
            <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@session.ServerStartTime.ToLocalTime()">@session.ServerStartTime.ToLocalTime().ToTimeAgo() ago</td>
            <td style="padding: 0 5px;">@session.Environment</td>
            <td style="padding: 0 5px;">@Model.Users.First(x => x.Id == session.UserFingerprint).UserName</td>
            <td style="padding: 0 5px;">@Model.Machines.First(x => x.Id == session.MachineFingerprint).Name</td>
            <td style="padding: 0 5px;">@session.CallerIp</td>
        </tr>
    }

</table>
<table>
    <h4>Machine</h4>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th>Machine</th>
    </tr>
        @foreach (var MachineName in @Model.MachineNames)
        {
        <tr>
            @if (MachineName == null)
            {
                <td>N/A</td>
            }
            else
            {
                <td>@MachineName</td>
            }
        </tr>
    }

</table>