@using System.Web.Mvc.Html
@model Quilt4.Web.Models.Initiative

@{
    ViewBag.Title = "Edit Initiative";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
<table>
    <tr>
        <th style="padding: 5px;">Name</th>
        <td style="padding: 5px;">@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
        <th style="padding: 5px;">ClientToken</th>
        <td style="padding: 5px;">@Html.TextBoxFor(m => m.ClientToken)
    </tr>
    <tr>
        <th style="padding: 5px;">Owner</th>
        <td style="padding: 5px;"> @Html.TextBoxFor(m => m.OwnerDeveloperName)</td>
    </tr>
    <tr>
        <th style="padding: 5px;">Members</th>
        <td style="padding: 5px;">
            @foreach (var member in Model.DeveloperRoles)
            {
                @Html.Raw(member.DeveloperName + ", ")
            }
        </td>
    </tr>
</table>
<br/>
<input style="margin: 0 25px 0 5px" type="submit" value="Save" />
@Html.ActionLink("Cancel", "Index")
}
