@model Quilt4.Web.Models.SearchModel

@{
    ViewBag.Title = "title";
}

@if (Model.IsConfirmed)
{
    <h2>Search Results for "@Model.SearchText"</h2>
    
    using (Html.BeginForm("SearchResults", "Home", FormMethod.Get))
    {
        @Html.TextBox("searchText", "", new { value = Model.SearchText });
        <input type="submit" value="Search" />
    }

    @Html.Partial("_EnvironmentLegendPartial", Model.Environments)

    //@Html.Partial("_IssueLevelLegendPartial")

    <h4>Level Legend</h4>
    <table>
        <tr>
            <th>Error</th>
            <td style="padding-left: 20px;"><span id="ErrorFilterButton" onclick='toggleLevelFilterButton("Error")' style="background-color: red; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="Error"></span></td>
        </tr>
        <tr>
            <th>Warning</th>
            <td style="padding-left: 20px;"><span id="WarningFilterButton" onclick='toggleLevelFilterButton("Warning")' style="background-color: yellow; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="Warning"></span></td>
        </tr>
        <tr>
            <th>Information</th>
            <td style="padding-left: 20px;"><span id="InformationFilterButton" onclick='toggleLevelFilterButton("Information")' style="background-color: green; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="Information"></span></td>
        </tr>
    </table>

    <script type="text/javascript" src="~/Scripts/searchFilter.js"></script>
    <script type="text/javascript">
        setLevelFilterButtonStyle();
    </script>

    <table>
        <tr style="border-bottom-color: black; border-bottom-style: solid;">
            <th style="padding: 0 5px;">Initiative</th>
            <th style="padding: 0 5px;">Application</th>
            <th style="padding: 0 5px;">Version</th>
            <th style="padding: 0 5px;">Issue Type</th>
            <th style="padding: 0 5px;">Time</th>
            <th style="padding: 0 5px;">Level</th>
            <th style="padding: 0 5px;">Environment</th>
            <th style="padding: 0 5px;">IssueType Ticket</th>
            <th style="padding: 0 5px;">Issue Ticket</th>
        </tr>
        @foreach (var row in Model.SearchResultRows)
        {
            <tr style="display: table-row">
                <td style="padding: 0 5px;">@Html.ActionLink(@row.InitiativeName, "Details", "Initiative", new { id = row.InitiativeUniqueIdentifier }, null)</td>
                <td style="padding: 0 5px;">@Html.ActionLink(@row.ApplicationName, "Details", "Application", new { id = row.InitiativeUniqueIdentifier, application = row.ApplicationName }, null)</td>
                <td style="padding: 0 5px;">@Html.ActionLink(@row.Version, "Details", "Version", new { id = row.InitiativeUniqueIdentifier, application = row.ApplicationName, version = row.VersionUniqueIdentifier }, null)</td>
                <td style="padding: 0 5px;">@(row.IssueType.ExceptionTypeName ?? "N/A")</td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@row.Issue.ServerTime.ToLocalTime()">@row.Issue.ServerTime.ToLocalTime().ToTimeAgo() ago</td>
                <td style="padding: 0 5px;">
                    @if (@row.IssueType.IssueLevel.ToString() == "Error")
                    {
                        <span class="Error" style="background-color: red; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="Error"></span>
                    }
                    @if (@row.IssueType.IssueLevel.ToString() == "Warning")
                    {
                        <span class="Warning" style="background-color: yellow; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="Warning"></span>
                    }
                    @if (@row.IssueType.IssueLevel.ToString() == "Information")
                    {
                        <span class="Information" style="background-color: green; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="Information"></span>
                    }
                </td>
                <td style="padding: 0 5px;">
                    @foreach (var environment in Model.Environments)
                    {
                        if (row.Environment.Equals(environment.Name))
                        {
                            <span class="@Html.Raw(environment.Name + "Color")" style="background-color: #@environment.Color; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="@environment.Name"></span>
                        }
                    }
                </td>
                <td style="padding: 0 5px;">@Html.ActionLink(@row.IssueType.Ticket.ToString(), "Details", "IssueType", new { id = row.InitiativeUniqueIdentifier, application = row.ApplicationName, version = row.VersionUniqueIdentifier, issueType = row.IssueType.Ticket.ToString() }, null)</td>
                <td style="padding: 0 5px;">@row.Issue.Ticket</td>
            </tr>
        }
    </table>
    <script type="text/javascript">
        updateLevelRows();
    </script>
}
else
{
    @Html.Partial("_ConfirmEmailPartial")
}

