@model Quilt4.Web.Models.SearchModel

@{
    ViewBag.Title = "title";
}

<h2>Search Results for "@Model.SearchText"</h2>
@if (Model.IssueTypes.Any())
{
    <table>
        <tr style="border-bottom-color: black; border-bottom-style: solid;">
            <th style="padding: 0 5px;">Issue Type</th>
            <th style="padding: 0 5px;">Time</th>
            <th style="padding: 0 5px;">User</th>
            <th style="padding: 0 5px;">Visible</th>
            <th style="padding: 0 5px;">Ticket</th>
        </tr>
        @foreach (var issueType in Model.IssueTypes)
        {
            foreach (var issue in issueType.Issues)
            {
                <tr>
                    <td style="padding: 0 5px;">@issueType.ExceptionTypeName</td>
                    <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@issue.ServerTime.ToLocalTime()">@issue.ServerTime.ToLocalTime().ToTimeAgo() ago</td>
                    <td style="padding: 0 5px;">@issue.UserHandle</td>
                    <td style="padding: 0 5px;">@issue.VisibleToUser</td>
                    <td style="padding: 0 5px;">@issue.Ticket</td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>No results found</p>
}