@model System.Collections.Generic.IEnumerable<Quilt4.Interface.IEmail>

@{
    ViewBag.Title = "Email Log";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<p>The 100 latest sent emails</p>

<table>
    <tr style="border-bottom: 1px solid #000">
        <th style="padding-right: 20px;">Date</th>
        <th style="padding-right: 20px;">To</th>
        <th style="padding-right: 20px;">Subject</th>
        <th style="padding-right: 20px;">Sent</th>
        <th>Error Message</th>
    </tr>

    @foreach (var mail in @Model)
    {
        <tr style="margin-top: 5px;">
            <td style="padding-right: 20px;">@mail.DateSent</td>
            <td style="padding-right: 20px;">@mail.ToEmail</td>
            <td style="padding-right: 20px;">@mail.Subject</td>
            <td style="padding-right: 20px;">@mail.Status</td>
            <td>@mail.ErrorMessage</td>
        </tr>
    }
</table>*@

<div class="panel panel-default">

    <div class="panel-heading">

        <i class="fa fa-clock-o fa-fw"></i> The 100 latest sent emails

    </div>

    <div class="panel-body">

        <ul class="timeline">


            @foreach (var mail in Model.OrderByDescending(x => x.DateSent))
            {
                var class1 = mail.Status ? "" : "class=\"timeline-inverted\"";
                
                <li @class1>
                     @if (!mail.Status)
                          {
                              <div class="timeline-badge danger">
                                  <i class="fa fa-exclamation"></i>
                              </div>
                          }
                          else
                          {
                              <div class="timeline-badge success">
                                  <i class="fa fa-check"></i>
                              </div>
                          }
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">@mail.Subject</h4>
                            <p>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> @mail.DateSent.ToTimeAgo() ago to @mail.ToEmail</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>@mail.ErrorMessage</p>
                        </div>
                    </div>
                </li>

            }

        </ul>

    </div>

</div>