@model System.Collections.Generic.IEnumerable<Quilt4.Interface.IEmail>

@{
    ViewBag.Title = "Email Log";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>The 100 latest sent emails</p>

<table>
    <tr style="border-bottom: 1px solid #000">
        <th style="padding-right: 20px;">Date</th>
        <th style="padding-right: 20px;">To</th>
        <th style="padding-right: 20px;">Subject</th>
        <th style="padding-right: 20px;">Sent</th>
        <th>Error Message</th>
    </tr>

    @foreach (var mail in @Model)
    {
        <tr style="margin-top: 5px;">
            <td style="padding-right: 20px;">@mail.DateSent</td>
            <td style="padding-right: 20px;">@mail.ToEmail</td>
            <td style="padding-right: 20px;">@mail.Subject</td>
            <td style="padding-right: 20px;">@mail.Status</td>
            <td>@mail.ErrorMessage</td>
        </tr>
    }
</table>
