@model Quilt4.Web.Models.AdminViewModels
@{
    ViewBag.Title = "System";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>This page shows config information for admins.</p>

<br/><br/>

<table>
    <tr>
        <th style="padding-right: 20px">Database Type</th>
        <td>@Model.DBType</td>
    </tr>
    <tr>
        <th style="padding-right: 20px">Database Online</th>
        <td>@Model.DBOnline</td>
    </tr>
    <tr>
        <th style="padding-right: 20px">Database Name</th>
        <td>@Model.DBName</td>
    </tr>
    <tr>
        <th style="padding-right: 20px">Database Server</th>
        <td>@Model.DBServer</td>
    </tr>

    <tr style="border-top: 2px solid #000;">
        <th style="padding-right: 20px">SMTP Server Adress</th>
        <td>@Model.SmtpServerAdress</td>
    </tr>
    <tr>
        <th style="padding-right: 20px">SMTP Server Port</th>
        <td>@Model.SmtpServerPort</td>
    </tr>

    <tr style="border-top: 2px solid #000;">
        <th style="padding-right: 20px">Support Email Adress</th>
        <td>@Model.SupportEmailAdress</td>
    </tr>
    <tr>
        <th style="padding-right: 20px">Send Email Enabled</th>
        <td>@Model.SendEMailEnabled</td>
    </tr>
    <tr>
        <th style="padding-right: 20px">Email Confirmation Enabled</th>
        <td>@Model.EMailConfirmationEnabled</td>
    </tr>
</table>