@using Castle.Core.Internal
@using Constants = Quilt4.Web.Models.Constants
@model Quilt4.Web.Models.IssueModel

@{
    ViewBag.Title = "Version Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="~/Initiative">Initiative</a></li>
    <li><a href="~/Initiative/Details/@Model.InitiativeUniqueIdentifier">@Html.Raw(Model.InitiativeName ?? Constants.DefaultInitiativeName)</a></li>
    <li><a href="~/Application/Details/@Model.InitiativeId/@Model.ApplicationName">@Model.ApplicationName</a></li>
    <li class="active">@Model.VersionName</li>
</ol>

<h2>Version Details</h2>


<h3>Issue Types</h3>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Type</th>
        <th style="padding: 0 5px;">Message</th>
        <th style="padding: 0 5px;">Level</th>
        <th style="padding: 0 5px;">Count</th>
        <th style="padding: 0 5px;">Environment</th>
        <th style="padding: 0 5px;">Ticket</th>
    </tr>

    @foreach (var issueType in Model.IssueTypes)
    {
        <tr>
            <td style="padding: 0 5px;"><a href="~/IssueType/Details/@Model.InitiativeId/@Model.ApplicationName/@Model.Version/@issueType.Ticket">@issueType.ExceptionTypeName</a></td>
            <td style="padding: 0 5px;">@issueType.Message</td>
            <td style="padding: 0 5px;">@issueType.IssueLevel</td>
            <td style="padding: 0 5px;">@issueType.Issues.Count()</td>
            <td style="padding: 0 5px;">
                @foreach (var env in Model.Sessions.Where(x =>  issueType.Issues.Any(y => y.SessionId == x.Id)).Select(x => x.Environment))
                {
                    @Html.Raw(env + ", ")
                }
        </td>

            <td style="padding: 0 5px;">@issueType.Ticket</td>
            
        </tr>
    }


</table>

<h3>Sessions</h3>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Start</th>
        <th style="padding: 0 5px;">Environment</th>
        <th style="padding: 0 5px;">User</th>
        <th style="padding: 0 5px;">Machine</th>
        <th style="padding: 0 5px;">IP</th>
    </tr>
    @foreach (var session in Model.Sessions)
    {
        <tr>
            <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@session.ServerStartTime.ToLocalTime()">@session.ServerStartTime.ToLocalTime().ToTimeAgo() ago</td>
            <td style="padding: 0 5px;">@session.Environment</td>
            <td style="padding: 0 5px;">@Model.Users.First(x => x.Id == session.UserFingerprint).UserName</td>
            <td style="padding: 0 5px;">@Html.ActionLink(@Model.Machines.Single(x => x.Id == session.MachineFingerprint).Name, "Details", "Machine", new { initiativeId = Model.InitiativeId, machineId = session.MachineFingerprint}, null)</td>


            @*@session.ServerStartTime == null ? @Html.Raw("<td style='padding: 0 5px;'>N/A</td>") : @Html.Raw("<td style='padding: 0 5px;'>" + @session.ServerStartTime + "</td>")
            @session.Environment == null ? @Html.Raw("<td style='padding: 0 5px;'>N/A</td>") : @Html.Raw("<td style='padding: 0 5px;'>" + @session.Environment + "</td>")
            @Model.Users.Single(x => x.Id == session.UserFingerprint).UserName== null ? @Html.Raw("<td style='padding: 0 5px;'>N/A</td>") : @Html.Raw("<td style='padding: 0 5px;'>" + @Model.Users.Single(x => x.Id == session.UserFingerprint).UserName + "</td>")
            @Model.Machines.Single(x => x.Id == session.MachineFingerprint).Name == null ? @Html.Raw("<td style='padding: 0 5px;'>N/A</td>") : @Html.Raw("<td style='padding: 0 5px;'>" + @Model.Machines.Single(x => x.Id == session.MachineFingerprint).Name + "</td>")
            @session.CallerIp == null ? @Html.Raw("<td style='padding: 0 5px;'>N/A</td>") :@Html.Raw("<td style='padding: 0 5px;'>" + @session.CallerIp + "</td>")*@

            @if (@session.CallerIp == null)
            {
                <td>@Html.Raw("N/A")</td>
            }
            else
            {
                <td>@session.CallerIp</td>
            }
            <td>@Html.ActionLink("Details", "Details", "Session", new {applicationVersionId = session.ApplicationVersionId, sessionId = session.Id}, null)</td>


        </tr>
    }
</table>

<h3>Users</h3>

<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">User</th>
    </tr>

    @foreach (var user in Model.Users)
    {
        <tr>
            <td style="padding: 0 5px;">@Html.ActionLink(@user.UserName, "Details", "User", new { applicationVersionId = @Model.ApplicationVersionId, userId = user.Id }, null)</td>
        </tr>
    }
</table>

<h3>Handles</h3>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Handle</th>
    </tr>
    @foreach (var issue in Model.IssueTypes.SelectMany(y => y.Issues).Select(x => x.UserHandle).Distinct())
    {
        <tr>
            @if (issue.IsNullOrEmpty())
            {
                <td style="padding: 0 5px;">@Html.Raw("N/A")</td>
            }
            else
            {
                <td style="padding: 0 5px;">@issue</td>
            }

        </tr>
    }
</table>

<h3>Machines</h3>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th>Machine</th>
    </tr>
@foreach (var machine in @Model.Machines.Distinct())
{
    <tr>
        @if (machine.Name.IsNullOrEmpty()) 
        { 
            <td style="padding: 0 5px;">@Html.Raw("N/A")</td>
        }
        else
        {
            <td style="padding: 0 5px;">@Html.ActionLink(@machine.Name, "Details", "Machine", new { initiativeId = Model.InitiativeId, machineId = machine.Id }, null)</td>
        }
    </tr>
}
</table>