@model Quilt4.Web.Models.CreateInitiative

@{
    ViewBag.Title = "Create new Initiative";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <p>
            Initiative name
            @Html.TextBoxFor(x => x.Name)
        </p>

        <p class="submitSection">
            <input type="submit" value="Create" /> | @Html.ActionLink("Cancel", "Index")
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
