@using Castle.Core.Internal
@model Quilt4.Web.Models.Initiative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="~/Initiative/">Initiative</a></li>
    <li class="active">@Model.Name</li>
</ol>

<h2>Details</h2>
@Html.ActionLink("Members", "Member", new { id = @Model.Id }, null)
<br/>
@if (User.Identity.Name.Equals(@Model.OwnerDeveloperName))
{
    @Html.ActionLink("Delete", "Delete", new { id = @Model.Id }, null)
}
<h2>ClientToken</h2>
@Html.Raw(@Model.ClientToken)


@if (Model == null || !Model.ApplicationGroups.SelectMany(x => x.Applications).ToArray().Any())
{
    @Html.Raw("<h2>Applications</h2><p>No applications found!</p>")
}
else
{
    foreach (var group in Model.ApplicationGroups)
    {
        @(@group.Name.IsNullOrEmpty() ? Html.Raw("<h2>Applications</h2>") : Html.Raw("<h2>" + @group.Name + "</h2>"))

        if (@group.Name.IsNullOrEmpty())
        {
            Html.Raw("<h2>Applications</h2>");
        }
        else
        {
            Html.Raw("<h2>" + @group.Name + "</h2>");
        }

        foreach (var application in group.Applications)
        {
            @Html.ActionLink(@application.Name, "Details", "Application", new { id = @Model.UniqueIdentifier, application = Url.Encode(@application.Name) }, null)
            <br />
        }
    }
}



@*<h3>Applications</h3>
@{
    var applications = Model.ApplicationGroups.SelectMany(x => x.Applications).ToArray();
}

@if (Model == null || !applications.Any())
{ 
    @Html.Raw("No applications found!")
}
else
{
    foreach (var application in applications)
    {        
        @Html.ActionLink(@application.Name, "Details", "Application", new { id = @Model.UniqueIdentifier, application = Url.Encode(@application.Name) }, null)
        <br/>
    }
}*@