@using Castle.Core.Internal
@using Quilt4.Interface
@using Constants = Quilt4.Web.Models.Constants
@model Quilt4.Web.Areas.Admin.Models.InviteModel

@{
    //ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Initiative", "Index", "Initiative")</li>
    <li>@Html.ActionLink(Model.Initiative.Name ?? Constants.DefaultInitiativeName, "Details", "Initiative", new { initiativeUniqueIdentifier = Model.UniqueInitiativeIdentifier }, null)</li>
    <li class="active">Members</li>
</ol>

<h2>Members</h2>

<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Owner</th>
    </tr>
    <tr>
        <td style="padding: 0 5px;">@Model.Initiative.OwnerDeveloperName</td>
    </tr>
</table>
<br/>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Member</th>
        <th style="padding: 0 5px;">Role</th>
        <th style="padding: 0 5px;">Status</th>
    </tr>

    @if (Model == null || Model.Initiative.DeveloperRoles.IsNullOrEmpty())
    {
        @Html.Raw("<tr><td style=\"padding: 0 5px;\">No members</td></tr>")
    }
    
    @foreach (var member in Model.Initiative.DeveloperRoles)
    {
    <tr>
        @Html.Raw("<td style='padding: 0 5px;'>" + member.DeveloperName + "</td> <td style='padding: 0 5px;'>" + member.RoleName + "</td>")


            @if (member.RoleName.Equals(RoleNameConstants.Invited))
            {
                <td style='padding: 0 5px;' data-toggle="tooltip" data-placement="bottom" title="@member.InviteTime">@member.InviteTime.ToTimeAgo() ago</td>
            }
            else
            {
                <td style='padding: 0 5px;' data-toggle="tooltip" data-placement="bottom" title="@member.InviteResponseTime">@member.InviteResponseTime.ToTimeAgo() ago</td>
            }

        @if (Model.IsAllowedToAdministrate)
        {
            <td style="padding: 0 5px;">@Html.ActionLink("Remove", "RemoveMember", "Initiative", new { initiativeUniqueIdentifier = Model.UniqueInitiativeIdentifier, application = member.DeveloperName }, null)</td>
        }
        @if (member.RoleName.Equals(RoleNameConstants.Invited) && !User.Identity.Name.Equals(member.DeveloperName))
        {
            <td>@Html.Raw("|")</td> <td style="padding: 0 5px;"><a href="~/Initiative/ResendInvite?initiativeid=@Model.Initiative.Id&code=@member.InviteCode">Resend invitation</a></td>
        }
    </tr>
    }
</table>

@if (@Model.IsAllowedToAdministrate)
{
    <hr />
    <h3>Invite member</h3>
    using (Html.BeginForm("Invite", "Initiative", null, FormMethod.Post, null))
    {
        @Html.Hidden("InitiativeId", Model.Initiative.Id)
        @Html.TextBoxFor(m => m.InviteEmail, new { placeholder = Html.DisplayNameFor(n => n.InviteEmail) })
        <p style="color: red;">@ViewBag.InviteError</p>
        <br />
        @Html.TextAreaFor(m => m.Message, new { placeholder = Html.DisplayNameFor(n => n.Message), Style = "width: 300px; height: 70px;" })
        <br />
        <br />
        <input type="submit" value="Invite" />
    }
}