@using Castle.Core.Internal
@model Quilt4.Web.Areas.Admin.Models.InviteModel

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Owner</th>
    </tr>
    <tr>
        <td style="padding: 0 5px;">@Model.Initiative.OwnerDeveloperName</td>
    </tr>
</table>
<br/>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Member</th>
        <th style="padding: 0 5px;">Role</th>
        <th style="padding: 0 5px;">Status</th>
    </tr>

    @if (Model == null || Model.Initiative.DeveloperRoles.IsNullOrEmpty())
    {
        @Html.Raw("<tr><td style=\"padding: 0 5px;\">No members</td></tr>")
    }
    
    @foreach (var member in Model.Initiative.DeveloperRoles)
    {
    <tr>
        @Html.Raw("<td style='padding: 0 5px;'>" + member.DeveloperName + "</td> <td style='padding: 0 5px;'>" + member.RoleName + "</td>")

        <td style='padding: 0 5px;'>
            @if (member.RoleName.Equals("Invited"))
            {
                @member.InviteTime
            }
            else
            {
                @Html.Raw("Status...")
            }
        </td>

        @if (member.DeveloperName != Model.Initiative.OwnerDeveloperName && User.Identity.Name == Model.Initiative.OwnerDeveloperName)
        {
            <td><a href="~/Initiative/RemoveMember?initiativeId=@Model.Initiative.Id&developer=@member.DeveloperName">Remove</a></td>
        }
    </tr>
    }
</table>

@if (@Model.IsAllowedToInvite)
{
    <hr />
    <h3>Invite member</h3>
    using (Html.BeginForm("Invite", "Initiative", null, FormMethod.Post, null))
    {
        @Html.Hidden("InitiativeId", Model.Initiative.Id)
        @Html.TextBoxFor(m => m.InviteEmail, new { placeholder = Html.DisplayNameFor(n => n.InviteEmail) })
        <br />
        <br />
        @Html.TextAreaFor(m => m.Message, new { placeholder = Html.DisplayNameFor(n => n.Message), Style = "width: 300px; height: 70px;" })
        <br />
        <br />
        <input type="submit" value="Invite" />
    }
}