@model Quilt4.Web.Models.MemberModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Remove Member</h2>

<p>Are you sure that you want to remove <b>@Model.DeveloperName</b> from @Model.InitiativeName?</p>

@using (@Html.BeginForm())
{
    <input type="submit" value="Remove"/>
    @Html.ActionLink("Cancel", "Member", "Initiative", new { initiativeUniqueIdentifier = @Model.UniqueInitiativeIdentifier }, null)
}
