@model System.Collections.Generic.IEnumerable<Quilt4.Interface.IEmail>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Senaste 100 mailen</h2>


@foreach (var mail in @Model)
{
    <p>@mail.ToEmail</p>
    <p>@mail.FromEmail</p>
    <p>@mail.Subject</p>
    <p>@mail.Body</p>
    <p>@mail.DateSent</p>
    <br />
    <br/>
    
}