@model Quilt4.Web.Models.AdminViewModels
@{
    ViewBag.Title = "System";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>System</h2>
<p>This page shows config information for admins.</p>

<p>Database Type: @Model.DBType</p>
<p>Database Online: @Model.DBOnline</p>
<p>Database Name: @Model.DBName</p>
<p>Database Server: @Model.DBServer</p>
<p>Support Email Adress: @Model.SupportEmailAdress</p>
<p>SMTP Server Adress: @Model.SmtpServerAdress</p>
<p>SMTP Server Port: @Model.SmtpServerPort</p>
<p>Send Email Enabled: @Model.SendEMailEnabled</p>
<p>Email Confirmation Enabled: @Model.EMailConfirmationEnabled</p>