@model Quilt4.Interface.ISetting

<div class="modal-dialog" id="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">@Model.Name</h4>
        </div>

        @using (Html.BeginForm("Edit", "Setting", null, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Type)

            <div class="modal-body">

                <div class="form-group">
                    <label>Value</label>
                    @Html.TextBoxFor(m => m.Value, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="@Model.Type" disabled="">
                </div>
                <div class="form-group">
                    <label>Encrypt</label>
                    <div class="checkbox" style="margin-left: 20px; margin-top:-5px">
                        @Html.CheckBoxFor(m => m.Encrypted)
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        }

    </div>
</div>