@model System.Collections.Generic.List<Quilt4.Web.Models.VersionViewModel>

@{
    ViewBag.Title = "Confirm Archive Versions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archive Versions</h2>
<p>Are you sure you want to archive the following versions:</p>
@using (Html.BeginForm("ArchiveVersions", "Application"))
{
    <ul>
        @for (var i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(x => Model[i].VersionIdentifier)
            @Html.HiddenFor(x => Model[i].ApplicationIdentifier)
            @Html.HiddenFor(x => Model[i].InitiativeIdentifier)
            @Html.HiddenFor(x => Model[i].VersionId)
            <li>@Model[i].Version</li>
        }
    </ul>

    <input type="submit" value="Archive" />
    @Html.ActionLink("Cancel", "Details", "Application", new { id = Model.First().InitiativeIdentifier, application = Model.First().ApplicationIdentifier }, null)
}
