@using Quilt4.Web.Models
@model Quilt4.Web.Models.ApplicationModel
@{
    ViewBag.Title = "Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="~/Initiative">Initiative</a></li>
    <li><a href="~/Initiative/Details/@Model.InitiativeUniqueIdentifier">@Html.Raw(Model.InitiativeName ?? Constants.DefaultInitiativeName)</a></li>
    <li class="active">@Model.Application</li>
</ol>

<h2>Application Details</h2>
@Html.ActionLink("Properties", "Edit", new { id = @Model.Initiative, application = @Model.Application }, null)

<h3>Versions</h3>

@using (Html.BeginForm("ConfirmDeleteVersions", "Application"))
{
    @Html.HiddenFor(x => x.Initiative)
    @Html.HiddenFor(x => x.Application)
    
    <table>
        <tr style="border-bottom-color: black; border-bottom-style: solid;">
            <th></th>
            <th style="padding: 0 5px;">Version</th>
            <th style="padding: 0 5px;">Build</th>
            <th style="padding: 0 5px;">Machines</th>
            <th style="padding: 0 5px;">Sessions</th>
            <th style="padding: 0 5px;">Issue Types</th>
            <th style="padding: 0 5px;">Issues</th>
            <th style="padding: 0 5px;">First</th>
            <th style="padding: 0 5px;">Last</th>
            <th style="padding: 0 5px;">Environments</th>
        </tr>


        @*@foreach (var version in Model.Versions)*@
        @for(var i = 0; i < Model.Versions.Count(); i++)
        {
            @Html.HiddenFor(x => x.Versions[i].Version)
            @Html.HiddenFor(x => x.Versions[i].Build)

            <tr>
                <td>@Html.CheckBoxFor(x => Model.Versions[i].Checked)</td>
                <td style="padding: 0 5px;">@Html.ActionLink(@Model.Versions[i].Version, "Details", "Version", new { id = @Model.Initiative, application = @Model.Application, version = @Model.Versions[i].UniqueIdentifier }, null)<br/></td>
                <td style="padding: 0 5px;">@Model.Versions[i].Build</td>
                <td style="padding: 0 5px;">@*@version.Machines.Count()*@</td>
                <td style="padding: 0 5px;">@Model.Versions[i].Sessions.Count()</td>
                <td style="padding: 0 5px;">@Model.Versions[i].IssueTypes.Count()</td>
                <td style="padding: 0 5px;">@Model.Versions[i].IssueTypes.SelectMany(x => x.Issues).Count()</td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@Model.Versions[i].Sessions.OrderBy(x => x.ServerStartTime).First().ServerStartTime.ToLocalTime()">@Model.Versions[i].Sessions.OrderBy(x => x.ServerStartTime).First().ServerStartTime.ToLocalTime().ToTimeAgo() ago</td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@Model.Versions[i].Sessions.OrderByDescending(x => x.ServerStartTime).First().ServerStartTime.ToLocalTime()">@Model.Versions[i].Sessions.OrderByDescending(x => x.ServerStartTime).First().ServerStartTime.ToLocalTime().ToTimeAgo() ago</td>
                <td style="padding: 0 5px;">

                    @foreach (var env in Model.Versions[i].Sessions.Select(x => x.Environment).Distinct())
                    {
                        @Html.Raw(env + ", ")
                    }
                </td>
            </tr>
        }
    </table>
    <br/>
    <input type="submit" value="Delete Versions" />
}