@model Quilt4.Web.Models.ApplicationModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<a href='~/Initiative/Details/@Model.Initiative'>Go back to applications</a>

<h3>Versions</h3>
<table>
    <tr style="border-bottom-color: black; border-bottom-style: solid;">
        <th style="padding: 0 5px;">Version</th>
        <th style="padding: 0 5px;">Build</th>
        <th style="padding: 0 5px;">Machines</th>
        <th style="padding: 0 5px;">Sessions</th>
        <th style="padding: 0 5px;">Issue Types</th>
        <th style="padding: 0 5px;">Issues</th>
        <th style="padding: 0 5px;">First</th>
        <th style="padding: 0 5px;">Last</th>
        <th style="padding: 0 5px;">Environments</th>
    </tr>
@foreach (var version in Model.Versions)
{
    <tr>
        <td style="padding: 0 5px;">@Html.ActionLink(@version.Version, "Details", "Version", new { id = @Model.Initiative, application = @Model.Application, version = @version.UniqueIdentifier }, null)<br/></td>
        <td style="padding: 0 5px;">Build</td>
        <td style="padding: 0 5px;">Machines@*@Model.Machines*@</td>
        <td style="padding: 0 5px;">Sessions</td>
        <td style="padding: 0 5px;">@version.IssueTypes.Count()</td>
        <td style="padding: 0 5px;">@version.IssueTypes.SelectMany(x => x.Issues).Count()</td>
        <td style="padding: 0 5px;">
            @*@try
    {
        @Html.Raw(version.Sessions.Select(x => x.ServerStartTime).SingleOrDefault().ToLongDateString())
    }
    catch (Exception )
    {
        @Html.Raw("seag")
    }*@
        </td>
        <td style="padding: 0 5px;">Last</td>
        <td style="padding: 0 5px;">@*@version.Sessions.Select(x => x.Environment).Distinct()*@</td>
    </tr>
}
</table>