@using Quilt4.Web.Models
@model ApplicationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Initiative", "Index", "Initiative")</li>
    <li>@Html.ActionLink(Model.InitiativeName ?? Constants.DefaultInitiativeName, "Details", "Initiative", new { id = @Model.InitiativeUniqueIdentifier }, null)</li>
    <li class="active">@Model.Application</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Properties", "Edit", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br/>
@if (@ViewBag.IsArchive)
{
    @Html.ActionLink("Details", "Details", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
}
else
{
    @Html.ActionLink("Archive", "Archive", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
}

@*Environment Legend*@
@Html.Partial("_EnvironmentLegendPartial", Model.Environments)

<h3>Versions</h3>

@using (Html.BeginForm("Confirm", "Application"))
{
    @Html.HiddenFor(x => x.InitiativeId)
    @Html.HiddenFor(x => x.InitiativeName)
    @Html.HiddenFor(x => x.InitiativeUniqueIdentifier)
    @Html.HiddenFor(x => x.Application)

    <table>
        <tr style="border-bottom-color: black; border-bottom-style: solid;">
            <th></th>
            <th style="padding: 0 5px;">Version</th>
            <th style="padding: 0 5px;">Build</th>
            <th style="padding: 0 5px;">Machines</th>
            <th style="padding: 0 5px;">Sessions</th>
            <th style="padding: 0 5px;">Issue Types</th>
            <th style="padding: 0 5px;">Issues</th>
            <th style="padding: 0 5px;">First</th>
            <th style="padding: 0 5px;">Last</th>
            <th style="padding: 0 5px;">Environments</th>
        </tr>

        @for (var i = 0; i < Model.Versions.Count; i++)
        {
            @Html.HiddenFor(x => x.Versions[i].Version)
            @Html.HiddenFor(x => x.Versions[i].Build)
            @Html.HiddenFor(x => x.Versions[i].ApplicationIdentifier)
            @Html.HiddenFor(x => x.Versions[i].InitiativeIdentifier)
            @Html.HiddenFor(x => x.Versions[i].VersionIdentifier)
            @Html.HiddenFor(x => x.Versions[i].VersionId)

            <tr style="display: table-row">
                <td>@Html.CheckBoxFor(x => x.Versions[i].Checked)</td>
                <td style="padding: 0 5px;">@Html.ActionLink(@Model.Versions[i].Version, "Details", "Version", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application, version = @Model.Versions[i].VersionIdentifier }, null)<br/></td>
                <td style="padding: 0 5px;">@Model.Versions[i].Build</td>
                <td style="padding: 0 5px;">@Model.Versions[i].MachineCount</td>
                <td style="padding: 0 5px;">@Model.Versions[i].SessionCount</td>
                <td style="padding: 0 5px;">@Model.Versions[i].IssueTypeCount</td>
                <td style="padding: 0 5px;">@Model.Versions[i].IssueCount</td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@Model.Versions[i].FirstSessionTime">@Model.Versions[i].FirstSessionTime.ToTimeAgo() ago</td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="@Model.Versions[i].LastSessionTime">@Model.Versions[i].LastSessionTime.ToTimeAgo() ago</td>
                <td style="padding: 0 5px;">
                    @*TODO: Environments skall inte komma med när man listan laddas från början, det kommer först senare vid ett jquery anrop. Ta bort denna kod när det funkar!*@

                    @*@foreach (var env in Model.Versions[i].Environment)
                    {
                        foreach (var environment in Model.Environments)
                        {
                            if (env.Equals(environment.Name))
                            {
                                <span class="@Html.Raw(environment.Name + "Color")" style="background-color: #@environment.Colour; width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="@environment.Name"></span>
                            }
                        }
                    }*@
                </td>
            </tr>
        }
    </table>
    <br/>
    <input type="submit" name="submit" id="submit" value="Delete"/>
    if (!@ViewBag.IsArchive)
    {
        <input type="submit" name="submit" id="submit" value="Archive"/>
    }
}

<!-- När sidan har laddats in skall ytterligare data börja laddas in. -->
<script type="text/javascript">

    $(document).ready(function() {

        function getSessions() {
            var url = "/Application/Sessions";
            $.getJSON(url, { id: '@Model.InitiativeUniqueIdentifier', application: '@Model.Application' }, function(data) {
                //TODO: Placera ut data på rätt ställe i listan
                alert(data);
            });
        }

        getSessions();
    });


    $(document).ready(function() {


        function getMachines() {
            var url = "/Application/Machines";
            $.getJSON(url, { id: '@Model.InitiativeUniqueIdentifier', application: '@Model.Application' }, function(data) {
                alert(data);
            });
        }

        getMachines();
    });
</script>