@using Quilt4.Web.Models
@model ApplicationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Initiative", "Index", "Initiative")</li>
    <li>@Html.ActionLink(Model.InitiativeName ?? Constants.DefaultInitiativeName, "Details", "Initiative", new { id = @Model.InitiativeUniqueIdentifier }, null)</li>
    <li class="active">@Model.Application</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Properties", "Edit", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br/>
@if (@ViewBag.IsArchive)
{
    @Html.ActionLink("Details", "Details", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
}
else
{
    @Html.ActionLink("Archive", "Archive", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
}

@Html.Partial("_EnvironmentLegendPartial", Model.EnvironmentColors)

<script type="text/javascript" src="~/Scripts/environmentFilter.js"></script>

<h3>Versions</h3>

@using (Html.BeginForm("Confirm", "Application"))
{
    @Html.HiddenFor(x => x.InitiativeId)
    @Html.HiddenFor(x => x.InitiativeName)
    @Html.HiddenFor(x => x.InitiativeUniqueIdentifier)
    @Html.HiddenFor(x => x.Application)

    <table>
        <tr style="border-bottom-color: black; border-bottom-style: solid;">
            <th></th>
            <th style="padding: 0 5px;">Version</th>
            <th style="padding: 0 5px;">Build</th>
            <th style="padding: 0 5px;">Machines</th>
            <th style="padding: 0 5px;">Sessions</th>
            <th style="padding: 0 5px;">Issue Types</th>
            <th style="padding: 0 5px;">Issues</th>
            <th style="padding: 0 5px;">First</th>
            <th style="padding: 0 5px;">Last</th>
            <th style="padding: 0 5px;">Environments</th>
        </tr>

        @for (var i = 0; i < Model.Versions.Count; i++)
        {
            @Html.HiddenFor(x => x.Versions[i].Version)
            @Html.HiddenFor(x => x.Versions[i].Build)
            @Html.HiddenFor(x => x.Versions[i].ApplicationIdentifier)
            @Html.HiddenFor(x => x.Versions[i].InitiativeIdentifier)
            @Html.HiddenFor(x => x.Versions[i].VersionIdentifier)
            @Html.HiddenFor(x => x.Versions[i].VersionId)

            <tr style="display: table-row">
                <td>@Html.CheckBoxFor(x => x.Versions[i].Checked)</td>
                <td style="padding: 0 5px;">
                    @if (ViewBag.IsArchive)
                    {
                        @Model.Versions[i].Version
                    }
                    else
                    {
                        @Html.ActionLink(@Model.Versions[i].Version, "Details", "Version", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application, version = @Model.Versions[i].VersionIdentifier }, null)<br/>
                    }
                </td>
                <td style="padding: 0 5px;">@Model.Versions[i].Build</td>
                <td style="padding: 0 5px;"><div id="Machine-@Model.Versions[i].VersionId" style="background-image: url('../../../Content/Images/ajax-loader.gif'); width: 16px; height: 16px;"></div></td>
                <td style="padding: 0 5px;"><div id="Session-@Model.Versions[i].VersionId" style="background-image: url('../../../Content/Images/ajax-loader.gif'); width: 16px; height: 16px;"></div></td>
                <td style="padding: 0 5px;">@Model.Versions[i].IssueTypeCount</td>
                <td style="padding: 0 5px;">@Model.Versions[i].IssueCount</td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="Loading..."><div id="Session-First-@Model.Versions[i].VersionId"></div></td>
                <td style="padding: 0 5px;" data-toggle="tooltip" data-placement="bottom" title="Loading..."><div id="Session-Last-@Model.Versions[i].VersionId"></div></td>
                <td style="padding: 0 5px;">
                    @foreach (var env in Model.Versions[i].Environments)
                    {
                        if (string.IsNullOrEmpty(env))
                        {
                            <span class="Environment-@Constants.DefaultEnvironmentName" style="background-color: #@(Html.Raw(Model.EnvironmentColors.Single(x => x.Name == env).Color)); width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="@Constants.DefaultEnvironmentName"></span>
                        }
                        else
                        {
                            <span class="Environment-@env" style="background-color: #@(Html.Raw(Model.EnvironmentColors.Single(x => x.Name == env).Color)); width: 20px; height: 20px; display: inline-block; border: 1px solid #000000;" data-toggle="tooltip" data-placement="bottom" title="@env"></span>
                        }
                    }
                </td>
            </tr>
        }
    </table>
    <br/>
    <input type="submit" name="submit" id="submit" value="Delete"/>
    if (!@ViewBag.IsArchive)
    {
        <input type="submit" name="submit" id="submit" value="Archive"/>
    }
}

<!-- När sidan har laddats in skall ytterligare data börja laddas in. -->
<script type="text/javascript">
    $(document).ready(function () {

        function getSessions() {
            var url = "@Html.Raw(ViewBag.SiteRoot)/Application/Sessions";
            $.getJSON(url, { id: '@Model.InitiativeUniqueIdentifier', application: '@Model.Application', archived: @(ViewBag.IsArchive ? @Html.Raw("true") : @Html.Raw("false")) }, function(data) {
                $.each(data, function(i, item) {
                    var oDiv = document.getElementById('Session-' + item.Id);

                    if (oDiv != null) {
                        oDiv.style.removeProperty("background-image");
                        oDiv.innerHTML = item.SessionCount;

                        document.getElementById('Session-First-' + item.Id).innerHTML = item.First;
                        document.getElementById('Session-Last-' + item.Id).innerHTML = item.Last;
                    }
                });
            });
        }

        function getMachines() {
            var url = "@Html.Raw(ViewBag.SiteRoot)/Application/Machines";
            $.getJSON(url, { id: '@Model.InitiativeUniqueIdentifier', application: '@Model.Application', archived: @(ViewBag.IsArchive ? @Html.Raw("true") : @Html.Raw("false")) }, function (data) {
                $.each(data, function (i, item) {
                    var oDiv = document.getElementById("Machine-" + item.Id);
                    if (oDiv != null) {
                        oDiv.style.removeProperty("background-image");
                        oDiv.innerHTML = item.MachineCount;
                    }
                });
            });
        }

        getSessions();
        getMachines();

    });
</script>