@using Quilt4.Web.Models
@model ApplicationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript">

    var app = angular.module('detailsApp', []);


    app.controller('detailsController', function ($scope) {

        $scope.query = '';

        $scope.model = @Html.ToJson(Model);
        console.log($scope.model);


        $scope.showAll = false;
        $scope.checkChange = function() {
            for(t in $scope.model.environmentColors){
                if($scope.model.environmentColors[t].value){
                    $scope.showAll = false;
                    return;
                }
            }
            $scope.showAll = true;
        };
    
        $scope.myFunc = function(a) {
            if($scope.showAll) { return true; }
       
            var sel = true;
       
            for(color in $scope.model.environmentColors){
                var t = $scope.model.environmentColors[color];
                if(t){
                    if(a.environments.indexOf(t) == -1){
                        
                        sel = false;
                    }else{
                        return true;
                    }
                }           
            }
            return sel;
        };

    });



</script>


<ol class="breadcrumb">
    <li>@Html.ActionLink("Initiative", "Index", "Initiative")</li>
    <li>@Html.ActionLink(Model.InitiativeName ?? Constants.DefaultInitiativeName, "Details", "Initiative", new { id = @Model.InitiativeUniqueIdentifier }, null)</li>
    <li class="active">@Model.Application</li>
</ol>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Properties", "Edit", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
@if (@ViewBag.IsArchive)
{
    @Html.ActionLink("Details", "Details", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
}
else
{
    @Html.ActionLink("Archive", "Archive", new { id = @Model.InitiativeUniqueIdentifier, application = @Model.Application }, null)<br />
}

<br/>

<div ng-app="detailsApp" ng-controller="detailsController">

    <div ng-repeat="enviroment in model.environmentColors">

        <input type="checkbox" ng-model="enviroment.value" ng-change="checkChange()" /> {{enviroment.name}}

    </div>
    
    <table class="table">

        <tr>
            <th></th>
            <th>Version</th>
            <th>Build</th>
            <th>Machines</th>
            <th>Sessions</th>
            <th>Issue Types</th>
            <th>Issues</th>
            <th>First</th>
            <th>Last</th>
            <th>Environments</th>

        </tr>

        <tr ng-repeat="version in model.versions | filter:myFunc">

            <td></td>
            <td>{{version.version}}</td>
            <td>{{version.build}}</td>
            <td></td>
            <td></td>
            <td>{{version.issueTypeCount}}</td>
            <td>{{version.issueCount}}</td>
            <td></td>
            <td></td>
            <td ng-repeat="enviroment in version.environments">
                {{enviroment}},
            </td>

        </tr>



    </table>



</div>