@model Quilt4.Web.Models.ApplicationPropetiesModel

<div class="modal-dialog" id="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="applicationPropertiesModal">Application Properties</h4>
        </div>
        @using (@Html.BeginForm("Edit", "Application", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.InitiativeId)
            @Html.HiddenFor(m => m.ApplicationName)
            
            <div class="modal-body">
                <div class="form-group">
                    <label>Application Group</label>
                    @Html.TextBoxFor(x => x.ApplicationGroupName, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ticket Prefix</label>
                    @Html.TextBoxFor(x => x.TicketPrefix, null, new { @class = "form-control" })
                </div>
                <!-- TODO: Style this div properly -->
                <div>
                    <label>Auto Archive</label><br/>
                    @Html.RadioButtonFor(x => x.AutoArchive, false) Off<br />
                    @Html.RadioButtonFor(x => x.AutoArchive, true) Keep the latest @Html.TextBoxFor(x => x.KeepLatestVersions, new { @style = "width:30px;" }) versions
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        }
    </div>
</div>


        
