@using System.Web.UI.WebControls
@model Quilt4.Web.Models.EventLogIndexViewModel
@{
    ViewBag.Title = "Event Log";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{ Html.RenderAction("_EventLogStatus", "Action"); }

@foreach (var message in @Model.EventLogData)
{
    <div style="border-color: red; border-width: 1px; border-style: dashed;">
        <div><i class="fa @Html.Raw(message.Icon)"></i>
        </div>
        @if (message.Message.Contains("The data protection operation was unsuccessful."))
        {
            <div>@Html.ActionLink("Help", "ProtectionOperation", "Help", new { area = "" }, null)</div>
        }
        <div>@Html.Raw(message.EntryType)</div>
        <div title="@Html.Raw(message.TimeGenerated)">@Html.Raw(message.TimeGenerated.ToTimeAgo()) ago</div>
        <div>@Html.Raw(message.Source)</div>
        @*<div>@Html.Raw(message.Read)</div>*@
        <div>@Html.Raw(message.Message)</div>
    </div>
}

@Html.ActionLink("Clear Event Log", "Clear")
@Html.ActionLink("Mark Event Log as read", "MarkAsRead")
