@model Quilt4.Web.Models.IssueTypeModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table>
    <tr>
        <th>Time</th>
        <th>Threads</th>
        <th>User</th>
        <th>Handle</th>
        <th>Visible</th>
        <th>Environment</th>
        <th>Ticket</th>
    </tr>
    @foreach (var issue in Model.IssueType.Issues)
    {
        <tr>
            <td>@issue.ServerTime</td>
            <td>@issue.Data.Count()</td>
            <td>@Model.Sessions.Single(x => x.Id == issue.SessionId).UserFingerprint</td>
            <td>@issue.UserHandle</td>
            <td>@issue.VisibleToUser</td>
            <td>@Model.Sessions.Single(x => x.Id == issue.SessionId).Environment</td>
            <td>@issue.Ticket</td>
        </tr>
    }
</table>